<div class = "row" style="padding-bottom: 20px;">
    <div class = "col-md-5"><h1>Welcome To Moogit</h1></div>
    <div class = "col-md-2"><h4>a place for shows</h4></div>
</div>


<div class="table" ng-controller="homeCtrl">
    <table class="table">
        <thead>
            <tr>
                <th>Bands</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Age</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="show in shows">
                <td><p ng-repeat="band in show.fields.showBands"> {{band}}</p></td>
                <td>{{show.fields.showVenueID}}</td>
                <td>{{show.fields.showDate | date }}</td>
                <td>{{show.fields.showTime | date : 'shortTime'}}</td>
                <td>{{show.fields.showAge}}</td>
                <td>{{show.fields.showCost | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>







